<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
</head>

    <body>
        <div>
    <!--Add a nav bar here -->
            <nav class="navbar navbar-expand-lg navbar-dark"
            style="background:  linear-gradient(to right, #151a1c, #0d1e30);">
            <a class="navbar-brand" href="#" style="padding: 0%;">
                <img src="{{MEDIA_URL}}/emoji/oldcar.png" alt="..." height="64px">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn btn-link" href="{% url 'djangoapp:index' %}" style="color: #fff;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-link" href="{% url 'djangoapp:about_us' %}" style="color: #fff">About Us</a>
                        </li>
                        <li class="nav-item"></a>
                            <a class="btn btn-link" href="{% url 'djangoapp:contact_us' %}" style="color: #fff">Contact Us</a>
                        </li>
                    </ul>
                    <ul class = "navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                            <li>
                                <a class = "btn btn-link" href = "#">({{ user.username }})</a>
                                <a class = "btn btn-link" href = "{% url 'djangoapp:logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li>
                                <form class = "form-inline" action = "{% url 'djangoapp:login' %}" method = "post">
                                    {% csrf_token %}
                                    <div class = "input-group">
                                        <input type = "text" class = "form-control" placeholder = "username" name = "username">
                                        <input type = "password" class = "form-control" placeholder = "password" name = "psw">
                                        <button class = "btn btn-primary" type = "submit">Login</button>
                                        <a class = "btn btn-link" href = "{% url 'djangoapp:registration' %}">Sign Up</a>
                                    </div>
                                </form>
                            </li>
                            {% endif %}
                    </ul>
                </div>
            </nav>
    <!-- Add reviews as cards -->
            <div class="container-fluid" >
                <h3 style="margin:1rem">These are the reviews for the dealership N° {{dealer_id}} : </h3>
            <div>
            <div class= "row">
                {% for review in reviews %}
                    <div class= "col-sm-6">
                    <br>
                    {% if review.sentiment == 'positive' %}
                        <div class="card border-success mb-3" style="max-width: 27rem; margin-left: 1rem;">
                            <div class="card-header border-success" style="padding-left:0.5rem%">
                                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png"
                                style="padding-right:0.5rem ;max-height: 2rem">
                                Positive experience review by {{review.name}}
                            </div>
                    {% elif review.sentiment == 'negative' %}
                        <div class="card border-warning mb-3" style="max-width: 25rem; margin-left: 1rem;">
                            <div class="card-header border-warning" style="padding-left:0.5rem%">
                                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png"
                                style="padding-right:0.5rem ;max-height: 2rem">
                                Negative experience review by {{review.name}}
                            </div>
                    {% else %}
                        <div class="card border-secondary mb-3" style="max-width: 25rem; margin-left: 1rem;">
                            <div class="card-header border-secondary" style="padding:0.5rem">
                                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png"
                                style="padding-right:0.5rem ;max-height: 2rem">
                                Moderate experience review by {{review.name}}
                            </div>
                    {% endif %}        
                            <div class="card-body">
                            {% if review.purchase == True %}
                                <h6 class="card-text">Vehicle : {{review.car_make}} {{review.car_model}}</h6>
                                <h6 class="card-text">Model's year : {{review.car_year}}</h6>
                                <h6 class="card-text">Purchased on : {{review.purchase_date}}</h6>
                            {% else %}    
                                <h6 class="card-text"> User didn't purchase a vehicle in this dealership</h6>
                            {% endif %}    
                                <p class="card-text">Veredict : {{review.review}}.</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}        
            </div>
        </div>
    </body>
        <div class="container-fluid">
            <hr>
            <h3>If you wish to add a review for this dealership  <a href="{% url 'djangoapp:add_review' dealer_id %}">Click Here</a></h3>    
            <hr>
        <div>
    <!-- FOOTER -->
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark"
        style="background:  linear-gradient(to right, #3f4a4edc, #203953ab);">
            <a class="navbar-brand" href="#" style="padding: 0%;">
                <img src="{{MEDIA_URL}}/emoji/oldcar.png" alt="..." height="64px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-link" href="{% url 'djangoapp:index' %}" style="color: #fff;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link" href="{% url 'djangoapp:about_us' %}" style="color: #fff">About Us</a>
                    </li>
                    <li class="nav-item"></a>
                        <a class="btn btn-link" href="{% url 'djangoapp:contact_us' %}" style="color: #fff">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    
</html>